<!-- _includes/footer.html -->
<footer>
    <p>&copy; 2024 Fathalrhman Adam. All rights reserved.</p>
    <div class="SocialMediaLinks">
        <a href="{{ site.social.twitter }}" target="_blank"><img src="{{ "/assets/images/x.svg" | relative_url }}" alt="Twitter"></a>
        <a href="{{ site.social.linkedin }}" target="_blank"><img src="{{ "/assets/images/linkedin.svg" | relative_url }}" alt="LinkedIn"></a>
        <a href="{{ site.social.github }}" target="_blank"><img src="{{ "/assets/images/github.svg" | relative_url }}" alt="GitHub"></a>
    </div>
</footer>
